<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8" />
</head>
<body>
	<form action="/getList" method="post">
        <input type="checkbox" name="checkBox_inProcess"/><p>в процессе</p>
        <input type="checkbox" name="checkBox_finished"/><p>выполнено</p>
        <input type="checkbox" name="checkBox_waiting"/><p>в ожидании начала</p>
        <input type="submit" value="запросить" />
    </form>

</body>
</html>